<?xml version="1.0"?>
<launch>
	<!--_________________________________ARGUMENTS_________________________________-->

    <!-- acquisition arguments -->
	<arg name="plugin" default='rosneuro::EGDDevice'/>
	<arg name="devarg" default='gtec'/>
	<arg name="framerate" default='16'/>
	<arg name="samplerate" default='512'/>


	<!-- recorder arguments-->
	<arg name="autostart" default='true'/>
	<arg name="filepath"  default='$(env HOME)/Neurorobotics/recordings' />
	
	<!-- protocol arguments -->
	<arg name="subject"   default="d6"/>
	<arg name="task"      default="mi_bhbf"/>
	<arg name="extra"     default=""/>

	<!-- feedback arguments -->
	<arg name="modality" 	 default='calibration'/>
	<arg name="thresholds"   default='[0.9, 0.9]'/>
	<arg name="classes"      default='[771, 773, 783]'/>
	<arg name="trials"       default='[10, 10, 10]'/>
	<arg name="show_on_rest" default='True'/>
			
	<!--_________________________________PARAMETERS________________________________-->

	<!-- protocol parameters -->
	<rosparam param="/protocol/subject"	 subst_value="True">$(arg subject)</rosparam>
	<rosparam param="/protocol/modality" subst_value="True">$(arg modality)</rosparam>
	<rosparam param="/protocol/task"	 subst_value="True">$(arg task)</rosparam>
	<rosparam param="/protocol/extra"	 subst_value="True">$(arg extra)</rosparam>

	<!-- filter chain parameters -->
	<rosparam command="load" file="$(find rosneuro_dl)/config/ChainCfg.yaml" />
	
	<!--___________________________________NODES___________________________________-->

    <!-- acquisition node -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen">
		<param name="~plugin" 	  value="$(arg plugin)"/>
		<param name="~devarg" 	  value="$(arg devarg)"/>
		<param name="~samplerate" value="$(arg samplerate)"/>
		<param name="~framerate"  value="$(arg framerate)"/>
	</node>

    <!-- filterchain node -->
	<node name="filterchain_node" pkg="rosneuro_dl" type="filter_chain.py" output="screen" >
			<param name="configname" value="ChainCfg" />
	</node>

	<!-- recorder node -->
	<node name="recorder" pkg="rosneuro_recorder" type="recorder" >
		<param name="~autostart" value="$(arg autostart)"/>
		<param name="~filepath" value="$(arg filepath)"/>
	</node>

    <!-- neurowheel node -->
	<node name="trainingwheel" pkg="rosneuro_feedback_wheel" type="trainingwheel"  output="screen">
		<rosparam param="modality" subst_value="True">$(arg modality)</rosparam>
		<rosparam param="thresholds" subst_value="True">$(arg thresholds)</rosparam>
		<rosparam param="classes" subst_value="True">$(arg classes)</rosparam>
		<rosparam param="trials" subst_value="True">$(arg trials)</rosparam>
		<rosparam param="show_on_rest" subst_value="True">$(arg show_on_rest)</rosparam>
	</node>

</launch>
