<?xml version="1.0"?>
<launch>
	<!-- acquisition arguments -->
	<arg name="plugin" default='rosneuro::EGDDevice'/>
	<!-- <arg name="devarg" default="eego|EEG_MASK|0x001FFF600779CF25" doc="Antneuro 32ch"/>  -->
	<!-- <arg name="devarg" default="eego|EEG_MASK|0x0001B7000231C620" doc="Antneuro 16ch"/>  -->
	<!-- <arg name="devarg" default="gtec" doc="gtec 16ch"/> -->
	<arg name="devarg" default='/home/curtaz/Neurorobotics/recordings/c7_antneuro_32.gdf'/>
	<arg name="framerate" default='16'/>
	<arg name="samplerate" default='512'/>
   
	<!-- acquisition node -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen">
  	  <param name="~plugin" 	  value="$(arg plugin)"/>
  	  <param name="~devarg" 	  value="$(arg devarg)"/>
  	  <param name="~samplerate" value="$(arg samplerate)"/>
  	  <param name="~framerate"  value="$(arg framerate)"/>
  	</node>

	<node name="neuroviz" pkg="rosneuro_visualizer" type="neuroviz" required="true"/> 

	<!-- filter chain arguments -->
	<arg name="filter" default="antneuro16" /> <!-- gtec16 antneuro16 antneuro32-->
	<rosparam command="load" file="$(find rosneuro_dl)/config/ChainCfg.yaml" />
	<node name="filterchain_node" pkg="rosneuro_dl" type="FilterChainNode.py" output="screen" >
			<param name="configname" value="$(arg filter)" />
	</node>
 	
</launch>
